node_modules
assets
tests
docs
tailwind.config.js
package-lock.json
jest.config.js
postcss.config.js
vue.config.js
vue-global.d.ts
tsconfig.json
babel.config.js
.eslintrc.js
.editorconfig
.browserslistrc
src
dist/umd/generator.umd.js
.eslintignore
dist/demo.html
**/*.map
